@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;1,200&display=swap');
.gallery-image img {
    width: 100%;
}
header .header-banner {
    width: 100%;
    height: calc(100vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}
.bänner img {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header h1 {
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 50px;
    color: #030303;
    line-height: 70px;
    text-transform: uppercase;
}

header h2 {
    font-family: "Raleway", serif;
    font-style: italic;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 3px;
    color: #111216;
    text-transform: uppercase;
}

header .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;

}
header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;
}
header nav ul li {
    display: inline-block;
    padding: 16px 16px;
}

nav ul li a {
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
}

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #c4c8d0;
    margin-top: 20px;
    overflow: hidden;
}
.disclaimer {
    display: none;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 0px;
}

footer ul li {
    display: block;
    padding: 0 0px 20px 0;
}

footer ul li {
    font-family: "Raleway", Serif;
    font-weight: 200;
    font-size: 10px;
    letter-spacing: 3px;
    color: #080809;
    text-decoration: none;
}
.footer-sm {
    width: 32px;
    float: right;
}
.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}
hr {
    border-color: #676d7a;
    border-width: 2px;
    width: 30%;
    margin: 0 auto;
}
.us p {
    padding-left: 30px;
    padding-right: 30px;

}
.gallery-h2 {
    font-family: "Gentium Basic", sans-serif;
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 30px;
    color: #3a383d;
    text-transform: uppercase;
    text-align: left;
}

.gallery-image {
    margin: 10px;
    position: relative;
    text-align: center;

    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
}
.container{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.container img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}
.container_2 p {
    font-family: "Raleway", Serif;
    font-weight: 200;
    font-size: 16px;
}
.post-header {
    /*kujundus*/
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111111;

    /*positsioneerimine*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}

@media only screen and (min-width: 950px) {
    header .header-banner {
        height: calc(100vh - 600px);
    }
    header h1 {
        font-size: 50px;
    }
    header h2 {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    header nav ul li {
        padding: 16px 42px;
    }
    nav ul li a {
        font-size: 25px;
        padding: 70px;
    }
}

@media only screen and (min-width: 950px) {
    .bänner img {
        width: 90%;
    }
    .disclaimer {
        display: block;
    }
    .disclaimer img {
        width: 150%;

    }
    .container_2 {
        display: flex;
        justify-content: space-evenly;
        padding-left: 7%;
        padding-right: 18%;
    }
    hr {
        display: none;
    }
    .gallery-h2{
        padding-left: 10%;
    }
    .index-header{
        display: none;
    }
    .gallery-links{
        padding-top: 5%;
    }

}